h1 {
    font-size: 2em;
}
h4 {
    font-size: 1.5rem;
    background-color: #990100;
    font-weight: 200;
}
svg:not(:root) {
    color: #fff;
    overflow: hidden;
}

.uk-position-small {
    max-width: calc(100% - (15px * 2));
    margin: 15px;
    background-color: #990100;
}
    body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn-dark:hover {
    background-color: #990100;

}

.modal-content{
    opacity: .9;
    background-color: #181818;
    color: #F8F8F8;
}

#gameModalHeaderCss{
    color: #F8F8F8;
    text-align: center;
}

#gameTitleModalHeadCenterCss {
    font-size: 2em;
    text-align: center;
    color: #F8F8F8;
}

h5 {
    color: #F8F8F8;
}

#needsgreybackground{
    background-color: 	#181818;
    border: #282828 1px solid;
}

#exampleModalLabel{
    font-size: 2em;
    color: #F8F8F8;
}

#listGroupItemCss{
    color: white;
}

#deleteWishListButton{
    color: white;
}

.btn-sm{
    color: white;
}

.card-body{
    
    background-color: #181818;
}

#needsToBeWhite{

    color: #F8F8F8;
}

.modal-header{
    
    text-align: center;
    color: white;
}

#cssHeaderForSpecificGameModal{
    color: white;
}

#xCSS{
    color: white;
}

#cssForSpecificGameModal{
    color: white;
    font-weight: bolder;
}


.card {
    background-color: #282828;
}
.card-head{
    background-color: #181818;
}


#invalidTitle{
    display: none;
}

body {
    background-color: #000;
    background: #000;
    margin-bottom: 60px;
}

.btn-dark:hover {
    background-color: #990100;

}

#userEmail{
    font-size: 1em;
    display: inline-block;
}

#userSince{
    font-size: 1em;
    display: inline-block;
}

#totalWishListCount{
    font-size: 1em;
    display: inline-block;
}

#currentWishListCount{
    font-size: 1em;
    display: inline-block;
}

#DeletedGamesCount{
    font-size: 1em;
    display: inline-block;
}

#deleteWishListButton {
    padding: .5em;
    color: white;
}

.accountInline{
    display: inline-block;
}

#icon{
    margin-right: 75px;
}

.nav-item{
    margin-right: 10px;
}

#invalidTitle{
    display: none;
}

#placeholder {
    display: none;
}

.form-rounded {
border-radius: 1rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-check-label{
    color: white;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

#deleteSearchHistoryButton{
    color: white;
}

.jumbotron {
    background-image: url("https://shawngway.github.io/Thundercats/assets/images/background.png"); 
    background-repeat: no-repeat;
    background-size:100%;
}

html {
    background-color: #000;
}

form-rounded {
    border-radius: 1rem;
    }

    @media (max-width: 991px) { 
        #icon {
            position: absolute;
           
    }
    
    .nav-link {
        display: block;
        padding: .5rem 1rem;
        margin-left: 5rem;
    }



    /* @media (max-width: 767px) { 
        #icon {
            position: absolute;
        }
    }} */
}