

.btn-dark:hover {
    background-color: #990100;

}

#invalidTitle{
    display: none;
}
body {
    background-color: #000;
    background: #000;
}

.btn-dark:hover {
    background-color: #990100;

}

#invalidTitle{
    display: none;
}

#placeholder {
    display: none;
}

.form-rounded {
border-radius: 1rem;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

.jumbotron {
    background-image: url("https://shawngway.github.io/Thundercats/assets/images/background.png"); 
    background-size: cover; 
}
html {
    background-color: #000;
}

