
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn-dark:hover {
    background-color: #990100;

}

.modal-content{
    background-color: #343a40;
    color: white;
}

#gameModalHeaderCss{
    color: white;
    text-align: center;
}

#gameTitleModalHeadCenterCss{
    text-align: center;
    color: white;
}

h5{
    color: white;
}

#needsgreybackground{
    background-color: #343a40;
    border: white 1px solid;
}

#exampleModalLabel{
    color: white;
}

#listGroupItemCss{
    color: white;
}

#deleteWishListButton{
    color: white;
}

.btn-sm{
    color: white;
}

.card-body{
    background-color: #343a40;
}

#needsToBeWhite{
    color: white;
}

.modal-header{
    text-align: center;
    color: white;
}

#cssHeaderForSpecificGameModal{
    color: white;
}

#xCSS{
    color: white;
}

#cssForSpecificGameModal{
    color: white;
    font-weight: bolder;
}



.card-head{
    background-color: #343a40;
}


#invalidTitle{
    display: none;
}

body {
    background-color: #000;
    background: #000;
    margin-bottom: 60px;
}

.btn-dark:hover {
    background-color: #990100;

}

#userEmail{
    display: inline-block;
}

#userSince{
    display: inline-block;
}

#totalWishListCount{
    display: inline-block;
}

#currentWishListCount{
    display: inline-block;
}

#DeletedGamesCount{
    display: inline-block;
}

.accountInline{
    display: inline-block;
}

#icon{
    margin-right: 75px;
}

.nav-item{
    margin-right: 10px;
}

#invalidTitle{
    display: none;
}

#placeholder {
    display: none;
}

.form-rounded {
border-radius: 1rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-check-label{
    color: white;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

.jumbotron {
    background-image: url("https://shawngway.github.io/Thundercats/assets/images/background.png"); 
    background-repeat: no-repeat;
    background-size:100%;
}

html {
    background-color: #000;
}

form-rounded {
    border-radius: 1rem;
    }

    @media (max-width: 991px) { 
        #icon {
            position: fixed;
            padding-left: 3em;
    }}
    @media (max-width: 767px) { 
        #icon {
            position: absolute;
        }
    }